html {
    margin: 0;
    padding: 0;
    background: #08080c;
}

body {
    position: relative;
    width: calc(100vw - max(10vw, 2em));
    min-height: 100vh;
    max-width: 64em;
    margin: 0em auto;
    padding: 2em 1em 4em 1em;
    box-sizing: border-box;
    background: #202024;
    font-family: "Poppins", sans-serif;
    color: #bbbbc8;
    overflow: hidden auto;
}

body > canvas#bubbles {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
body > canvas#particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

div.code { position: relative }
code {
    display: block;
    white-space: pre;
    tab-size: 2;
    overflow: auto;
    background: #08080c;
    padding: 0.5em 3em 0.5em 1em;
    margin: 0.5em 0;
    font-family: "Fira Code", monospace;
    font-size: 0.8em;
}

code::-webkit-scrollbar { height: 0.5em }
code::-webkit-scrollbar-track {}
code::-webkit-scrollbar-thumb {
    background: #40404e;
}

span.copy {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    border-left: 2px solid #202027;
    border-bottom: 2px solid #202027;
    background: #202027;
    cursor: pointer;
}

code.js .code {
    color: #ffffff
}

code.js .comment {
    color: #c4c4e4;
    font-style: italic;
}

code.js .keyword {
    color: #66c4ff
}

code.js .boolean {
    color: #c444ff
}

code.js .number {
    color: #c444ff
}

code.js .string {
    color: #44ffc4
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    padding: 0;
    margin: 0;
}

p {
    position: relative;
    font-weight: 400;
    width: 80%;
    max-width: 40em;
    z-index: 1;
}

a {
    text-decoration: none;
    background: linear-gradient(to right, #80a6ff, #80a6ff);
    background-size: 0% 1px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: background 0.2s, color 0.2s;
    color: #0086ff;
}

a:hover {
    background: linear-gradient(to right, #ccdbff, #ccdbff);
    background-size: 100% 1px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    color: #ccdbff;
}

a:active {
    color: #004cff;
}













